/* logo top right corner */
.logo img{
    height: 60px;
    width:auto;
    margin:-30px 0 0 5px;
}


#duration > option {
    font-family: 'Turret Road', cursive;
    font-weight: bold;

}

#no-dot::after {
    position: relative !important;
}
#orange > a {
    color: #FF9800 !important;
    font-weight: bold !important;
}
.container1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container1 {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container1 {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container1 {
      width: 1170px;
    }
  }
.hot-games-back{
    background: rgb(207,202,200);
    background: linear-gradient(180deg, rgba(207,202,200,1) 27%, rgba(223,156,57,0.36658932714617165) 78%);
}
.br-back{
    background-color:#FF9800 ;
    line-height: 8px;
    content: " ";
}

.correct-font{
    font-family: 'Turret Road', cursive;
}



*, .agileits-logo h1 a, .agileits-title h2,
 .agileits-title h3, .footer-title h3{
    font-family: 'Turret Road', cursive;
}


#rcorners2 {
   
    border: 2px black;
    padding: 20px; 
    border-style: groove;
    margin-bottom: 25px
  }

#counter{
    font-size: 40px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
}
.game-layout {
    display: grid;
    grid-template-columns:200px 2fr 1fr;
    grid-template-rows: 50px 150px auto;
    border: 2px solid rgb(180, 176, 176);
    width: 60%;
    padding:0px;
    margin: auto 0px -10px 0px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    color: #dadac9;
}

.game-photo {
    grid-column:1/2;
    border-right: 2px solid rgb(180, 176, 176);
    border-bottom: 2px solid rgb(180, 176, 176);
    width:200px;
    height: 200px;
    filter: brightness(95%)
   
}

.game-name {
    grid-column: 2/4;
    grid-row: 1/2;
    border-bottom: 2px solid rgb(180, 176, 176);
    padding-top:13px;
    font-weight: bold;
    font-size: 140%;
    margin:0px;
    text-align: center;
    color: #f38f0c;
}

.game-info {
    grid-column: 2/3;
    grid-row: 2/3;
    border-right: 2px solid rgb(180, 176, 176);
    border-bottom: 2px solid rgb(180, 176, 176);
    padding-left: 3vw;
    padding-top: 20px;
    font-size: 17px;
}

.game-rating {
    grid-column: 3/4;
    grid-row: 2/3;
    border-bottom: 2px solid rgb(180, 176, 176);
}
.testimonial1{
	background:url(../images/scrabble1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.banner1{
	background: url(../images/monopoly1.jpg) no-repeat 0px 0px;
	background-size: cover;
	
  }
.game-comments {
    height: auto;
    grid-row: 3/4;
    grid-column: 1/4;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.person_who_made_a_comment_color p{ 
    color:#ff7300!important;
}
.banner_text {
    display: flex;
    justify-content: center;
}

.agileits-title p{
    width:auto;
    margin:10px 3vw 10px;
    padding: 0px;
    line-height: 1.1;
    color: orangered;
}
/* for the badge in navigation */
#results-title .badge {
    font-size: 20px;
    line-height: 1.3;
    border-radius: 8px;
    min-width: 30px;
}

@media (max-width: 1000px) {
    #counter{
        font-size: 30px;
        width: 50px;
        height: 50px;
    }

    .game-layout {
        display: grid;
        grid-template-columns:100px 1fr 1fr;
        grid-template-rows: 100px auto auto;
        width: 80%;
    }
    
    .game-photo {
        grid-column:1/2;
        border-right: 2px solid grey;
        border-bottom: 2px solid grey;
        width:100px;
        height: 100px;
    
       
    }
    
    .game-name {
        padding-top: 20px;
        grid-column: 2/5;
        grid-row: 1/2;
        border-bottom: 2px solid grey;
        font-size: 3.7vw;
        line-height: 2;
    }
    
    .game-info {
        grid-column: 1/4;
        grid-row: 2/3;
        border-right: 2px solid grey;
        border-bottom: 2px solid grey;
        padding: 30px auto 15px auto;
    }
    
    .game-info ul {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    }

    .game-info ul li {
        margin: 0px 0px 5px 5px;
        width: 22vw;
    }
    .game-rating {
        grid-column: 4/5;
        grid-row: 2/3;
        border-bottom: 2px solid grey;
    }

    .game-comments {
        grid-row: 3/4;
        grid-column: 1/5;
    }
}


/*Kanw epitopou rating*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*Kanw epitopou rating*/

.heart {
    text-align: center;
}

/* css for favorite icon */
.heart-icon{
    width: 20px;
    height: 20px;
    background:url("../images/black-heart.svg") no-repeat center center/contain;
    margin:10px auto 10px auto;
}

.stars{
    display: flex;
    justify-content: center;
}

/* GENERAL CSS */
.rounded-corners {
    border-radius: 10px;
}

/* SLIDER CSS */

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/* SEARCHBAR CSS */

.index_searchbar {
    width: 60%;
    margin: auto;
}

.search-input{
    border-radius:10px 0px 0px 10px;
}

.search-button{
    border-radius:0px 10px 10px 0px;
}

/* FILTERS CSS */

.filter-area {
    width: 80%;
    margin:auto;
    float:none;
}

.filter {
    display:grid;
    grid-template-columns: 30% 50%;
    color:white;
    font: size 18vh;
    margin-bottom: 10px;
}

.filter-form {
    width: auto;   
}

.filter-description {
    grid-column-start: 1;
    display: inline;
    float: none;
}

.filter-input {
    display: inline;
    margin-left: 5px;
    grid-column-start: 2;
}

/*SEARCH BAR */

#whole-form input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }

  
  /* Style the submit button */
  #whole-form button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #FF9800;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
  }
  
  #whole-form button:hover {
	background: #FF9800;
  }

  /* error div css */
  .error-message {
      width: 50%;
      margin: auto;
  }
  
  /* Clear floats */
  #whole-form::after {
	content: "";
	clear: both;
	display: table;
  }

/*-- #whole-form1 --*/

#whole-form1 input[type=text] {
	padding: 10px;
	font-size: 17vh;
	border: 1px solid grey;
	float: left;
	width: 40%;
	background: #f1f1f1;
	height: 30px;
  }
  

  /* Clear floats */

  .inline-block-child {
	display: inline-block;
  }


.agileits-logo1{
	text-align:center;
	margin: auto;
   
    padding: 10px;
	width: 300px;
	height: 150px
}

/* FOOTER CSS */

.footer {
    padding: 25px 0px 10px 0px;
}

.botton {
    padding: 0.5px;
}

/* HAVE TO ADD CLASS footer-mail TO EMAIL TO WORK */
.footer-email {
    margin-right: -10px !important;
}

.support {
    background-color: #333;
}

.game-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About us page */
.about-us{
    width: 60%;
    margin: 40px auto;
}

.basic-about-paragraph{
    font-size: 130%;
    margin-bottom: 10px;
    color:#f1ba72;
}

.members-quote{
    margin-bottom: 10px;
    color:#f1ba72;
}