* {
    font-family: 'Turret Road', cursive;
}
#allbody {

    background: url(../images/dott.png)repeat 0px 0px; 
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
    padding-bottom: 0em;
}
.banner {
    background: none;
/* general layout */
}
.agileinfo-dot {
    background: none;
}
.testimonial{
    background: none;
}
.testimonial-dot{
    background: none
}
.game-details {
    padding-top: 30px;
    /* background:url(../images/1.jpg) no-repeat 0px 0px;
    background-size:cover;
     */
}
.title {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 40% 60%;
}
.title .left {
    font-size: xx-large;
    font-weight: bold;
}
.left img {
    width: 70px;
}

.section-content {
    width: 1450px;
    margin: auto;
    display: flex;
    position: relative;
    /* background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px; */
    background-color: rgba(252, 252, 252, 0.3);
} 
.secimage img{
    margin-left: 20px;
    margin-top: 20px;
    height: 300px;
}

.secdetails {
    margin: 0px 40px;
    color: rgb(15, 15, 15);
    text-align: inherit;

}
/* categories customization */
.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 20px;
}
.rules span {
    font-weight: bold;
}
.categories li {
    border-radius: 0px 20px;
    padding: 5px 15px;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border: 3px solid #CAD2BF;
}
.left-up {
    grid-area: 1 / 1 / 2/ 2;
}
.right-up {
    grid-area: 1 / 2 / 3/ 3;
}
.left-down {
    grid-area: 2 / 1 / 3/ 2;
}
.right-down {
    grid-area: 2 / 2 / 3/ 3;

}
/* rating area */
.rating {
    font-size: large;
    text-align: center;
}
.rating .rating-value{
    font-size: larger; 
}
.rating .out-of {
    font-size: smaller;
}

.rating-commenting-button button {
    /* border: 2px solid rgb(247, 124, 10); */
    background-color: rgb(33, 30, 26);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.star-rating-text a{
    color: white;
}
.comment-text a{
    color: white;
}

.hover-button:hover {
    color: darkorange;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.desc-heading {
    font-size: x-large;
    margin-bottom: 15px;
    color: white;
}
.short-description p{
    background-color: #CAD2BF;
    padding: 10px;

}
.white {
    color: white;
}
/* the display-more section */
.show-more {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.show-more button {
    background-color: rgb(33, 30, 26);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    grid-column-start: 3;
}

.rate-area {
    margin-top: 50px;
    padding-bottom: 100px;
}
/* Comment area css */
.comment-area {
    margin-top: 50px;
}
.comments-ratings-head {
    background-color: #CAD2BFC9;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.comments-ratings-title {
    display: block;
    color: black;
    font-weight: bold;
}
.comment {
    display: grid;
    grid-template-columns: 10% 90%;
}
.user-avatar {
	width: 65px;
	height: 65px;
    vertical-align: middle;
    grid-column-start: 1;
}
.user-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.user {
    color: orange;
}

.create-new-comment {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 10% 90%;
}
.create-new-comment input {
    margin-left: 10px;
}
.input-comment {
	display: inline-block;
	vertical-align: middle;
    margin-left: 10px;
	width: calc(100% - 75px);
}
.input-comment input{
	width: 100%;
	font-weight: 300;
	font-size: 1.3rem;
    padding: 10px;
    border: none;
}
.user:hover  {
    color: BLUE;
    text-decoration: underline;
       
}
.comment-body {
    grid-column-start: 2;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 65px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: .9rem;
    color: #555;
    background-color: WHITE;

}

.comment-toolbar {
    width: 100%;
}
.comment-toolbar ul {
    list-style-type: none;
    padding-left: 75px;
    font-size: 0;
}
.comment-toolbar ul li {
    padding: 5px;
    font-size: .7rem;
    color: lighten(GREY, 5%);
}
:hover {
    cursor: pointer; 
}
@media(max-width:1400px) {
    .section-content {
        width: 1200px;
    }
    .secimage img {
        height: 250px;
    }
    .categories li {
        width: 250px;
    }
}
@media(max-width:1215px) {
    .section-content {
        width: 1000px;
    }
    .secimage img {
        height: 200px;
    }
    .show-more button {
        padding: 10px 14px;
        font-size: 14px;

    }
    .rating-commenting-button button {
        padding: 10px 14px;
        font-size: 14px;
    }

}
@media (max-width:1000px) {
    .section-content {
        width: 800px;
    }
    .secdetails {
        width: 500px;
    }
    .secimage img {
        height: 150px;
    }
    .show-more button {
        padding: 8px 10px;
        font-size: 10px;

    }
    .rating-commenting-button button {
        padding: 8px 10px;
        font-size: 10px;
    }
    .categories {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 0px 20px;
    }
    .categories li {
        width: 300px;
    }
    .left-up {
        grid-area: 1 / 1 / 2 / 2;
    }
    .right-up {
        grid-area: 2 / 1 / 3 / 2;
    }
    .left-down {
        grid-area: 3 / 1 / 4 / 2;
    }
    .right-down {
        grid-area: 4 / 1 / 5 / 2;
      
    }
}
@media(max-width:800px) {
    .section-content {
        width: 500px;
    }
    .secdetails {
        width: 300px;
    }
    .secimage img {
        height: 100px;
    }
    .show-more button {
        padding: 6px 8px;
        font-size: 8px;

    }
    .rating-commenting-button button {
        padding: 6px 8px;
        font-size: 8px;
    }
    .categories {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 0px 20px;
    }
    .categories li {
        width: 150px;
        height: 70px;
    }
    .short-description p{
        margin-right: 20px;
    
    }
    .comment-body {
        margin-left: 40px;
    }
    .comments-head {
        margin-right: 10px;
    }
    .create-new-comment input {
        margin-left: 40px;
        margin-right: 20px;
    }

}


