*, .agileits-logo h1 a, .footer-title h3 {
    font-family: 'Turret Road', cursive;
}

.correct-font {
    font-family: 'Turret Road', cursive;
}

.text-white {
    color: white;
}
.text-orange{ 
    color:#FF9800
}
.rounded-corners {
    border-radius: 10px;
}

/* logo top right corner */
.logo img{
    height: 60px;
    width:auto;
    margin:-30px 0 0 5px;
}

#login-background {
    background:url(../images/login_photo.jpg); /*photo from https://unsplash.com/photos/laNNTAth9vs?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
    background-size: cover;
}

#signup-background {
    background:url(../images/signup_photo.jpg); /* photo from https://unsplash.com/photos/FdTmaUlEr4A?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
    background-size: cover;
}

.agileinfo-dot{
    padding-top: 40px;
}

.navbar-nav{
    margin:0px;
}

.navbar-nav li::after { /* ONLY FOR LOGIN PAGE */
    position: relative;
}
.flexbox {
    display:flex;
    justify-content: center;
}

.box {
    margin: 25px 25px 7vw 25px;
    padding:0px;
    width: 75%;
    border: solid;
    border-image: 
    linear-gradient(
      to right, 
      orangered, 
      orange
    ) 1 0%;
}

.message-box{
    text-align: center;
    width: 60%;
    margin:auto;
}

.login-title {
    text-align: center;
    font-size: 70px;
    margin: 9vh;
}

.logout-title{

    text-align: center;
    font-size: 20px;
    margin: 9vh;
}

.login-form {
    font-size: 20px;
}
.login-form-group {
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-field-description {
    text-align: center !important;
    line-height: 50%;
    margin-right: 3vw;
    font-size: 25px;
    width: 116px;
}

.login-input {
    margin-bottom: 20px;
    width: 40%;
}

.login-button {
    text-align: center;
    background-color: transparent;
    grid-column: 9 / 13;
    border: 2px solid;
    border-radius: 10px;
    border-color:#eae6d5;
    font-size: 26px;
}

.login-button:hover {
    transform: scale(1.01) perspective(1px);
}

.login-button-area {
    margin: 2vh 0px 3vh 0px;
}

.signup-message {
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
}

.signup-message p a{
    color:orange;
}

/* FOOTER CSS */

.footer {
    padding: 25px 0px 10px 0px;
}

.botton {
    padding: 0.5px;
}

/* HAVE TO ADD CLASS footer-mail TO EMAIL TO WORK */
.footer-email {
    margin-right: -10px !important;
}

.support {
    background-color: #333;
}

@media (max-width: 480px){
    .login-field-description {
        line-height: 150%;
        font-size: 18px;
        margin-right: 0;
    } 

    .login-border{
        width:90%;
    }

    .login-input{
        width: 50%;
    }

    .login-button{
        font-size: 20px;
    }
}

@media (max-width: 770px){
    .login-field-description{
        line-height: 120%;
    }
}

@media (max-width: 300px){
    .login-title{
        font-size: 50px;
    }
}