*, .agileits-logo h1 a, .footer-title h3 {
    font-family: 'Turret Road', cursive;
}

.correct-font {
    font-family: 'Turret Road', cursive;
}
.text-white {
    color: white;
}

.rounded-corners {
    border-radius: 10px;
}

.flexbox {
    display:flex;
    justify-content: center;
}

.box {
    margin: 25px;
    padding:0px;
    width: 75%;
    border: solid;
    border-image: 
    linear-gradient(
      to right, 
      orangered, 
      orange
    ) 1 0%;
}

.login-title {
    text-align: center;
    font-size: 70px;
    margin: 7vh
}

.login-form {
    font-size: 20px;
}
.login-form-group {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    text-align: center;
}

.login-field-description {
    text-align: center !important;
    grid-column: 7 / 9;
}

.login-input {
    width: 100%;
    grid-column: 10 / 16;
}

.login-button {
    text-align: center;
    background-color: transparent;
    grid-column: 9 / 13;
    border: 2px solid;
    border-radius: 10px;
    border-color:#eae6d5;
}

.login-button:hover {
    transform: scale(1.01) perspective(1px);
}

.login-button-area {
    margin: 10vh;
}

